extend layout.pug

block content
    h1 Add new task

    form(method ='POST' action='/add/create-task')
        label(for='short_name') Short Name
        br
        input(type ='text' name='short_name' required)
        br
        label(for='description') Full Description
        br
        input(type ='text' name='description' required)
        br
        label(for='deadlineD') Deadline
        br
        input(type ='date'
            name='date'
            value= date
            min= date
            max="2030-12-30"
            required)

        input(type="time" name="time" required)

        button(type='submit') Create