extend layout.pug

block content
    h1 Add new task

    form(method ='POST' action='/add/create-task')
        label(for='name') Name
        br
        input(type ='text' name='name' required)
        br
        label(for='description') Full Description
        br
        input(type ='text' name='description')
        br
        label(for='deadlineD') Deadline
        br
        input(type ='date'
            name='date'
            value= date
            min= date
            max="2030-12-30"
            required)

        input(type="time" name="time" value='00:00' required)

        button(type='submit') Create