extends layout.pug

block content
    main.home
        p This is very simple to do app
        p You can create tasks and delete them
        p Supports markdown
        a(href="/add" class="create-task-btn") Create task