doctype html
html
    head
        title DoLater
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="shortcut icon" href="/img/favicon.ico")

    body
        nav 
            .container
                img(src="/img/logo.png", alt="")
                h2 DoLater
                ul
                    li
                        a(href="/") Main
                    li
                        a(href="/tasks") Tasks
                    li
                        a(href="/add") Add

        block content

        footer 
            .container
                ul
                    li
                        a(href="/") Main
                    li
                        a(href="/tasks") Tasks
                    li
                        a(href="/add") Add